
.note-dot {
    background-color: blue;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.note {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guitar-string {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.container {

    width: 1750px;
    height: 420px;
    margin: auto;
}


.string-line {
    height: 2px;
    width: 100%;
    background-color: green;
}

.string-line-container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.strings-container {
    position: absolute;
    width: 1730px;
    margin-left: 20px;
    z-index: -1;
}

.fret-line {
    height: 350px;
    width: 2px;
    margin-left: -1px;
    background-color: green;
}

.frets-container {
    margin-left: 70px;
    position: absolute;
    z-index: -2;
    height: 100%;
    display: flex;
    align-items: center;
}

.fret-line-container {
    width: 70px;
    height: calc(100% - 70px);
}

.nut {
    height: 350px;
    width: 6px;
    margin-left: -3px;
    background-color: green;
}

.fret-numbers {
    display: flex;
}

.fret-number {
    width: 70px;
    height: 70px;
    font-size: 22px;
    text-align: center;
}